<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UAVP.UAVPSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UAVPSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UAVP.UAVPSet.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="handshake" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="openFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="saveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pathHex" serializeAs="String">
                <value />
            </setting>
            <setting name="time" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="writeSleep" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="askBurnPic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainFormHeight" serializeAs="String">
                <value>701</value>
            </setting>
            <setting name="mainFormWidth" serializeAs="String">
                <value>792</value>
            </setting>
            <setting name="listViewWidth" serializeAs="String">
                <value>135</value>
            </setting>
        </UAVP.UAVPSet.Properties.Settings>
        <UAVPSet.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="stopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="handshake" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="openFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="saveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pathHex" serializeAs="String">
                <value />
            </setting>
            <setting name="time" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="writeSleep" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="askBurnPic" serializeAs="String">
                <value>True</value>
            </setting>
        </UAVPSet.Properties.Settings>
    </userSettings>
</configuration>